.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.w {
    width: 1226px;
    /* 设置容器居中 */
    margin: 0 auto;
}
body {
   font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  
   min-width: 1260px;
   /* 设置最小宽度让网页缩小时不变形 */
   color: #333333
}